@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    color: #0000008c;
}

header{
    background: rgb(0, 202, 209);
}

.topo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1024px;
    margin: 0 auto;
}


.top-logo img{
    width: 120px;
}

.top-menu{
    margin-right: 15px;
}

.top-menu a{
    color: white;
    margin-left: 20px;
    font-weight: bold;
}

.top-menu a:hover{
    color: rgb(0, 100, 122);
}

/* Menu */
main{
    max-width: 1024px;
    margin: 0 auto;
}

.nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

.nav a{
    margin: 10px 10px 20px 10px;
    color: rgb(96, 97, 92);
    border-bottom: 2px solid rgb(0, 202, 209);
}

.nav a:hover{
    color: rgb(0, 100, 122);
    font-weight: bold;
}

.titulo{
    display: flex;
    justify-content: center;
    font-size: 11.5px;
    margin-bottom: 40px;
}

/*Especialidades*/
.especialidade h2{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin: 20px 0 10px 0;
}

.especialidade p{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

/* Agenda */
.agenda{
    display: flex;
}

.agenda img{
    height: 200px;
    width: 30%;
    object-fit: cover;
    display: flex;
}

#foto-fisioterapia{
    width: 42%;
}

/*Tabelas*/
table{
    border-collapse: collapse;
    width: 100%;
    height: 31.5vh;
}

thead{
    background: rgb(0, 202, 209);
}
th{
    padding: 5px;
    color: white;
    text-align: left;
    font-size: 15px;
}
tbody tr:nth-child(2n + 1){
    background:rgb(205, 205, 205);
}


.contato{
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contato h3{
    margin: 10px;
}

.contato p{
    margin: 10px;
}

footer{
    margin-top: 40px;
    background: rgb(12, 110, 113);
}

.footer{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.footer img{
    width: 120px;
    margin: 20px;
}

.footer p{
    margin: 5px;
}

.footer p:last-child{
    margin-bottom: 30px;
}

@media (max-width: 319px){
    .agenda img{
        display: none;
    }
}

@media (min-width: 320px) and (max-width: 425px){
        .topo{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
    }

    .top-logo{
        margin: 0 auto;
        border-bottom: 2px solid rgb(0, 171, 177);
    }

    .top-menu{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin: 0 auto;
        width: 100%;
        padding: 8px;
    }

    .agenda img{
        display: none;
    }

    table{
        margin: 10px;
    }

    td{
        padding: 5px
    }
}

@media (min-width: 426px) and (max-width: 768px){
    .agenda img{
        display: none;
    }

    table{
        margin: 10px;
    }
}

@media (min-width: 769px) and (max-width: 1023px){
    .agenda img{
        height: 172px;
        width: 30%;
    }
}