@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    color: #0000008c;
}

/*Topo*/
header{
    background: rgb(0, 202, 209);
}

.topo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1024px;
}


.top-logo img{
    width: 120px;
    margin-left: 15px;
}

.top-menu{
    margin-right: 15px;
}

.top-menu a{
    color: white;
    margin-left: 20px;
    font-weight: bold;
}

.top-menu a:hover{
    color: rgb(0, 100, 122);
}

/* Container com a primeira imagem */

.img{
    background-image: url(assets/recepcao.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    width: 100%;
  
    display: flex;
    align-items: center;
    align-content: center;
}

.titulo-site{
    max-width: 1024px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
  
.titulo-site-descricao {
    color: #fff;
    text-transform: uppercase;
    margin: 0 auto;
    margin-left: 10px;
}

/*Sobre a clinica*/
.sobre{
    max-width: 1024px;
    margin: 0 auto;
}

.sobre-clinica{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin: 30px;
}

.sobre-clinica h2{
    margin-bottom: 20px;
}

.sobre-conteudo{
    display: flex;
    justify-content: space-around;
}

.sobre-conteudo-info{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.sobre-conteudo-info h3{
    font-weight: normal;
    text-transform: uppercase;
    margin: 30px;
}

/*multiespecialidade*/
.multiespecialidade{
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.multiespecialidade h3{
    margin: 40px 0 10px 0;
    text-align: center;
}

.multiespecialidade p{
    text-align: center;
    margin-bottom: 30px;
}

.multiespecialidade-imagens{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.multiespecialidade-imagens img{
    width: 300px;
}

.multiespecialidade-imagens figure{
    border: 1px solid none;
    margin: 10px;
    box-shadow: 0 0 1em gray;
}

.multiespecialidade-imagens figcaption{
    text-transform: uppercase;
    text-align: center;
    padding: 8px;
}

.multiespecialidade a{
    display: flex;
    align-items: center;
    align-content: center;
    align-self: center;
    text-transform: uppercase;
    font-weight: 500;
    margin: 20px 0 30px 0;
    border: 1px solid rgb(0, 202, 208);
    background-color: rgb(0, 202, 208);
    padding: 10px;
    color: white;
    width: 101px;
}

/* CONTATO */
.contato{
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contato h3{
    margin: 10px;
}

.contato p{
    margin: 10px;
}

footer{
    margin-top: 40px;
    background: rgb(12, 110, 113);
}

.footer{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.footer img{
    width: 120px;
    margin: 20px;
}

.footer p{
    margin: 5px;
}

.footer p:last-child{
    margin-bottom: 30px;
}

/* RESPONSIVO */
@media (max-width: 425px){

    /*TOPO*/

    .topo{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
    }

    .top-logo{
        margin: 0 auto;
        border-bottom: 2px solid rgb(0, 171, 177);
    }

    .top-menu{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin: 0 auto;
        width: 100%;
        padding: 8px;
    }

    /*Imagem e Descrição =*/
    .img{
        background-image: url(assets/recepcao.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 200px;
        width: 100%;
      
        display: flex;
        align-items: center;
        align-content: center;
    }

    .titulo-site-descricao {
        color: #fff;
        text-transform: uppercase;
        margin: 0 auto;
        margin-left: 10px;
        font-size: 10px;
    }

    /*Sobre*/
    .sobre-conteudo img{
        display: none;
    }

}

@media (min-width: 426px) and (max-width: 768px){
    /*Imagem e Descrição =*/
    .img{
        background-image: url(assets/recepcao.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;
        width: 100%;
      
        display: flex;
        align-items: center;
        align-content: center;
    }

    .titulo-site-descricao {
        color: #fff;
        text-transform: uppercase;
        margin: 0 auto;
        margin-left: 10px;
        font-size: 12px;
    }

     /*Sobre*/
     .sobre-conteudo img{
        display: none;
    }

    /*Multiespecilidades*/
    .multiespecialidade-imagens figure{
        border: 1px solid none;
        margin: 30px;
        box-shadow: 0 0 1em gray;
    }
}

@media (min-width: 769px) and (max-width: 1024px){
    .img{
        background-image: url(assets/recepcao.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 400px;
        width: 100%;
      
        display: flex;
        align-items: center;
        align-content: center;
    }
}

@media(min-width: 1024px){
    header{
        background: rgb(0, 202, 209);
    }
    
    .topo{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }

    .img{
        background-image: url(assets/recepcao.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
        width: 100%;
      
        display: flex;
        align-items: center;
        align-content: center;
    }
}